:root {
    --main-e-dark: #11504f;
    --maindark: #131a20;
    --mainlight: #292929;
    --main-e-light: #def2f1;
    --white: #fff;
    --black: #333;
    --grey: #ddd;
    --green: green;
    --red: red;
    --darkgrey: #888;
    --lightgrey: #c7c6c6;
    --btn-bg: #3bdcd8;
    --lgrey: #f8f8f8;
}
body
{
    background-color: var(--main-e-light);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.btn:focus
{
    box-shadow: none;
}
.search-form {
    background-color: var(--main-e-light);
    padding: 0px 0px;
}
.search-form-inner
{
        background-color: var(--mainlight);
        padding: 15px;
}
.trip-types li
{
    display: inline-block;
    margin-right: 20px;
    line-height: 18px;
    color: var(--white);
}
.search-form-inner .trip-types li {
    margin-right: 8px;
}
.form-field-box {
    display: inline-block;
    width: 14.36%;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}
.field-box-depart
{
    width: 15%;
}
.field-box-arrival
{
    width: 15%;
}
.field-box-button
{
    width: 7.9%;
}
.form-title
{
    float: left;
    color: var(--maindark);
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    text-transform: uppercase;
    line-height: 20px;
}
.layover-black input
{
    background-color: rgba(0,0,0,0.4);
    cursor: not-allowed;
}
.rdcontainer {
    line-height: 18px;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.search-form-inner .rdcontainer
{
    padding-right: 50px;
    padding-left: 0px;
}
/* Hide the browser's default radio button */
.rdcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.rdcheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #ddd;
    border-radius: 50%;
}
.search-form-inner .rdcheckmark {
    position: absolute;
    top: -4px;
    left: -14px;
    height: 27px;
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #fff;
    border-radius: 25px;
}
/* On mouse-over, add a grey background color */
.rdcontainer:hover input ~ .rdcheckmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.rdcontainer input:checked ~ .rdcheckmark {
        background-color: transparent;

}
.search-form-inner .rdcontainer input:checked ~ .rdcheckmark {
    background-color: transparent;
    border-color: #d63933;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.rdcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.rdcontainer input:checked ~ .rdcheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.rdcontainer .rdcheckmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.search-form-inner .rdcontainer .rdcheckmark:after {
    top: 6px;
    left: 6px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: white;
}


.ccontainer {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 16px;
    float: left;
}

/* Hide the browser's default checkbox */
.ccontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.ccheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: var(--white);
    border: 1px solid var(--maindark);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.ccontainer:hover input ~ .ccheckmark {
    background-color: #ccc;
    border: 1px solid var(--maindark);
}

/* When the checkbox is checked, add a blue background */
.ccontainer input:checked ~ .ccheckmark {
    background-color: var(--white);
    border: 1px solid var( --maindark);
    border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ccheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ccontainer input:checked ~ .ccheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.ccontainer .ccheckmark:after {
    left: 3px;
    top: 3px;
    width: 9px;
    height: 9px;
    border: solid;
    border-color: var(--maindark);
    border-width: 3px 3px 3px 3px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: var(--maindark);
    border-radius: 50%;
}
.form-field-container .fa {
    position: absolute;
    right: 5px;
    top: 16px;
    font-size: 15px;
    color: #d63933;
}
.form-field-container .form-control, .form-field-container .form-control:focus {
    border-radius: 0px;
    border: 0px;
    min-height: 45px;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #d63933;
}

.btn-search-form {
    height: 45px;
    color: var(--white);
    border-radius: 0px;
    border: 0px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #d63933;
    line-height: 34px;
}
.btn-search-form:hover
{
    color: var(--white);
}
.clearable {
    background: #fff url('../images/download.gif') no-repeat right -10px center;
    transition: background 0.4s;
}

    .clearable.x {
        background-position: right 5px center;
    }

    .clearable.onX {
        cursor: pointer;
    }

    .clearable::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
.add-multi-row, .delete-multi-row {
    height: 32px;
    color: var(--maindark);
    border-radius: 0px;
    border: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    padding: 5px;
    background-color:var(--grey);
}
.multi-hide-row-fix, .multi-hide-row
{
    margin-top: 5px;
}
.travelers-d-menu {
    border-radius: 0px;
    padding: 0px;
    left: -50%;
    width: 428px;
    background-color: var(--white);
    padding: 10px;
}
.pm-control
{
    display: block;
    width: 100%;
    float: left;
    clear: both;
    overflow: hidden;
    margin-bottom: 7px;
}
.pm-control ul
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    clip: both;
    float: left;
}
.pm-control ul li {
    float: left;
    display: inline-block;
    padding: 0px 5px;
}
.psngr-selected
{
    background-color:var(--maindark);
    color: var(--white);
    border-radius: 3px; 
}
.pm-control ul li:last-child span
{
    display: inline-block;
    text-align: center;
}
.psnger-title
{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 7px !important;
}
.psnger-title span
{
    color: var(--darkgrey);
    margin-left: 4px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 11px;
}
.passenger-numbers {
    padding-left: 6px !important;
    margin-bottom: 14px !important;
}
.passenger-numbers li
{
    font-size: 12px;
}
.travelers-d-menu .dropdown-item {
    padding: 10px 10px;
    overflow: hidden;
     font-size: 13px;
     background-color: var(--lgrey);
    }
    .plus-minus {
    background-color: var(--mainlight);
    width: 100%;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}
.btns-cls-flight .btn-secondary {
    font-size: 12px;
    background-color: var(--white);
    color: var(--darkgrey);
}
.btns-cls-flight .active
{
    background-color: var(--maindark) !important;
}
.passenger-counts
{
    width: 100%;
    border-left: 1px solid var(--grey);
}
.form-field-box .dropdown-item .pm-control:last-child
{
   
}
.dropdown-form-label
{
    display: block;
}
.form-field-box .dropdown-item.active, .form-field-box .dropdown-item:active {
    color: inherit;
    background-color: inherit;
}
.form-field-box .rdcontainer
{
    font-size: 13px;
}
.dropdown-travler
{
    position: relative;
}


/*.swiper-slider.css*/
            .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


    .flight-slider {
    padding: 3px !important;
    background-color: var(--main-e-light);
}
.swiper-button-next {
    right: -27px !important;
    background-color: var(--main-e-light);
    height: 35px;
    top: 34px;
    background-image: url(../images/right.png);
    border-radius: 50%;
    width: 35px;
    background-size: 50%;
}
.swiper-button-prev
{
    left: -27px !important;
    background-color: var(--main-e-light);
    height: 35px;
    top: 34px;
    background-image: url('../images/left.png');
    border-radius: 50%;
    width: 35px;
    background-size: 50%;
}
#flight-name-slider
{
    background-color: var(--white);
    padding: 10px;
}
.swiper-slide
{
    padding: 10px 0px;
    box-shadow: 0px 0px 5px var(--maindark);
    transition: transform .2s
}
.swiper-slide:hover
{
    box-shadow: 0px 0px 5px var(--maindark);
    transform: scale(1.1);
    z-index: 999;
}
.flight-slider-img
{
    width: 40px;
}
.swiper-slide ul
{
    width: 100%;
    float: left;
    overflow: hidden;
}
.swiper-slide ul li:first-child
{
    width: 30%;
    float: left;
}
.swiper-slide ul li:last-child
{
    width: 70%;
    float: left;
}
.flight-slider-fname
{
    font-size: 11px;
    display: block;
    text-align: left;
}
.flight-slider-fair
{
    font-size: 11px;
    display: block;
    text-align: left;
    font-weight: bold;
}
.filter-section
{
    
}
.price_filter
{
    margin-top: 5px;
}
.stops_filter
{
    margin-bottom: 5px;
}
.outbond-return .tab-pane
{
padding:15px 0px;
}
.outbond-return .tab-pane ul 
{
    width: 100%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    margin-top: 15px;
}
.outbond-return .tab-pane ul li 
{
    width: 24.3%;
    float: left;
    background-color: #f8f8f8;
    padding: 3px;
    margin: 0px 1px;
}
.outbond-return .tab-pane ul li:hover
{
    background-color: var(--main-e-light);
}
.outbond-timing-from
{
    font-size: 12px;
    margin-bottom: 5px;
}
.outbond-return
{
    margin-top: 0px;
}
.outbond-return .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 0px;
    border-bottom: 3px solid transparent;
    color: var(--black);
    font-size: 16px;
}
.outbond-return .nav-link.active, .outbond-return .nav-link:hover
{
    border-color: var(--maindark);
}
.reset-flt
{
    float: right;
    font-size: 13px;
}
.outbond-return .nav-tabs
{
    border: 0px;
}
.outbond-return .tab-pane ul li .fa, .outbond-return .tab-pane ul li span
{
    display: block;
    text-align: center;
}
.dropdown-sort:hover>.dropdown-menu {
  display: block;
}

.dropdown-sort>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.sort-by-bar-types
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.sort-by-bar-types li
{
display: inline-block;
float: left;
width: 20%;
background-color: var(--mainlight);
min-height: 40px;
line-height: 38px;
background-image:var(--main-e-light);
padding: 0px 10px;
color: var(--white);
font-size: 14px;

}
.filter-results
{
    margin-top: 30px;
}
.sort-by-bar-types li:hover
{
    
}
.sort-by-bar-types li:last-child
{
    
}
.sort-by-bar {
    background-color: var(--white);
    width: 100%;
    /* overflow: hidden; */
    margin-bottom: 5px;
    clear: both;
    float: left;
}
.padding-left-none
{
    padding-left: 0px;
}
.padding-righ-none
{
    padding-right: 0px;
}
.padding-none
{
    padding: 0px;
}
.sort-by-bar-types .dropdown-menu {
    top: 96%;
    border-radius: 0px;
    background-image: var(--white);
    margin: 0px;
    font-size: 13px;
    padding: 0px;

    }
    .sort-by-bar-types .dropdown-menu a
    {
        line-height: 20px;
        padding: 5px 7px;
        background-color: #efefef;
        border-bottom: 1px solid var(--maindark);
    }
    .sort-by-bar-types .dropdown-menu a:hover
    {
        background-color: var(--main-e-light);
    }
   .sort-by-bar-types .dropdown-toggle
    {
    background-color: transparent;
    border: 0px;
    color: var(--white);
    font-size: 14px;
    }
    .filter-single-section {
    padding: 15px 10px 8px 10px;
    border-bottom: 1px solid var(--main-e-light);
    background-color: var(--white);
    }
    .filter-title
    {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: var(--maindark);
    }
    .filter-lavel
    {
        font-size: 13px;
    }
    .more-show
    {
        display: block !important;
    }
.more, .less, .a-more, .a-less
{
    text-align: right;
    font-weight: normal;
    font-size: 12px;
}









/*................slider-css..............*/
.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
        outline: none !important;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 11%;
        }
        .irs-line-mid {
            left: 9%; width: 82%;
        }
        .irs-line-right {
            right: 0; width: 11%;
        }

    .irs-bar {
        position: absolute; display: block;
        left: 0; width: 0;
    }
        .irs-bar-edge {
            position: absolute; display: block;
            top: 0; left: 0;
        }

    .irs-shadow {
        position: absolute; display: none;
        left: 0; width: 0;
    }

    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {

        }
        .irs-slider.from {

        }
        .irs-slider.to {

        }
        .irs-slider.type_last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap;
    }

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        padding: 0 3px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}


/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// Â© Denis Ineshin, 2014    https://github.com/IonDen
// Â© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 7px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 3px;
    top: 0px;
    background: var( --darkgrey);
    -moz-border-radius: 16px;
    border-radius: 0px;
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    height: 3px;
    top: 0px;
    border-top: 1px solid #d63933;
    border-bottom: 0px solid #d63933;
    background: var(--mainlight);
    background: #d63933;
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid var(--mainlight);
        border-right: 0;
        background: var(--mainlight);
        background: linear-gradient(to top, var(--mainlight) 0%,var(--main-e-light) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: -6px;
    width: 15px;
    height: 15px;
    border: 1px solid #AAA;
    background: var(--white);
    border-radius: 50%;
    -moz-border-radius: 27px;
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: var(--mainlight);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: var(--mainlight);
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
.extra-controls
{
    width: 100%;
    overflow: hidden;   
}
.extra-controls input {
    width: 50% !important;
    border: 0px;
    padding: 0px;
    font-size: 13px;
}
.extra-controls .js-input-from
{
    text-align: left;
}
.extra-controls .js-input-to
{
    text-align: right;
}
.extra-controls .form-group
{
    width: 100%;
    padding: 0px 9px;
}
.irs-from, .irs-to, .irs-max, .irs-min, .irs-single
{
    display: none;
}




/*.......result-box....*/
.result-bar-a-img img
{
    width: 30px;
    margin-top: 10px;
}
.single-result-bar {
    background-color: var(--white);
    padding: 10px;
    font-size: 13px;
    position: relative;
    box-shadow: 2px 2px 5px var(--darkgrey);
    margin-bottom: 40px;
    float: left;
    width: 100%;
}
.result-bar-a-name
{
    color: var(--darkgrey);
}
.result-bar-city-name {
    color: var(--darkgrey);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.result-bar-time {
    color: var(--black);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}
.result-bar-triptime, .result-bar-stops
{
    display: inline-block;
    margin-top: 20px;
}
.result-bar-triptime
{
    color: var(--black);
    font-size: 12px;
}
.result-bar-stops
{
    color: var(--darkgrey);
    font-size: 14px;
}
.result-bar-divider
{
    margin-bottom: 4px;
    margin-top: 4px;
    border-bottom:  1px solid var(--main-e-light);
}
.result-bar-price-box {
    background-color: #f8f8f8;
    height: 115%;
    padding-top: 14%;
    position: absolute;
    right: 5px;
    top: -10px;
    width: 100%;
    /* bottom: 0px; */
}
.result-bar-price strong {
    font-size: 19px;
    color: var(--black);
    margin-left: 4px;
}
.result-bar-persons {
    color: var(--darkgrey);
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 11px;
}
.result-bar-btn {
    color: var(--white);
    padding: 4px 8px;
    text-align: center;
    border-radius: 0px;
    /* background-image: linear-gradient(var(--mainlight), var(--btn-bg)); */
    background-color: var(--mainlight);
}
.result-bar-btn:hover
{
    color: var(--white);
}
.flight-and-seat-deatil
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 10px;
}
.flight-and-seat-deatil li
{
    float: left;
    margin-right: 20px;
    color: var(--mainlight);
    font-size: 12px;
    font-weight:normal;
    position: relative;
    cursor: pointer;
}
.flight-and-seat-deatil li:after
{
    position: absolute;
    content: '|';
    top: 0px;
    right:-10px;
}
.flight-and-seat-deatil li:last-child:after
{
    display: none;
}
.dest-ariv-seprator
{
    float: left;
    width: 100%;
    overflow: hidden;
    padding-top: 20%;
}
.dest-ariv-seprator span
{
    width: 60%;
    float: left;
    height: 1px;
    background-color: var(--darkgrey);
}
.dest-ariv-seprator-rev span
{
    width: 60%;
    float: left;
    height: 1px;
    background-color: var(--darkgrey);
}
.dest-ariv-seprator .fa {
    float: left;
    width: 10%;
    color: var(--darkgrey);
    transform: rotate(45deg);
    margin-top: -5px;
    margin-left: -4px;
}
.dest-ariv-seprator-rev .fa {
    float: right;
    width: 10%;
    color: var(--darkgrey);
    transform: rotate(228deg);
    margin-top: -5px;
    margin-right: -4px;
}



/*........datepicker........*/
#ui-datepicker-div {
    width: 300px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 1px 1px 4px var(--maindark);
    border-top: 5px solid var(--mainlight);
}
.ui-datepicker .ui-datepicker-header {
    background-color: var(--maindark);
    color: var(--white);
    font-size: 18px;
    border: 0px;
    border-radius: 0px;
}
.ui-datepicker-calendar thead tr {
    background-color: var(--mainlight);
    color: var(--white);
    font-size: 13px;
}
.ui-datepicker td span, .ui-datepicker td a {
    padding: 11px 5px;
    text-align: center;
    font-size: 12px;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    border: 0px solid #c5c5c5;
    background: var(--main-e-light);
    font-weight: normal;
    color:#454545;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    border: 1px solid var(--mainlight);
    background: var(--mainlight);
    color: var(--white);
}
.ui-datepicker table {
   margin: 0px 0px 1px 0px;
}
.ui-state-active, .ui-widget-content .ui-state-active
{
    background: var(--maindark);
    color: var(--white);
}










/*.........flight-details-modal...........*/
.popup-modals
{

}
.popup-modals .modal-dialog
{
    width: 80% !important;
    min-width: 80%;
    max-width: 80%;
}
.popup-modals .modal-header
{
    display: block;
    background-color: var(--maindark);
    color: var(--white);
    border-radius: 0px;
}
.popup-modals .modal-content
{
        border-radius: 0px;
}
.fm-modal-title
{
    font-size: 14px;
    text-transform: uppercase;
}
.onwrd-rtrn
{
    text-transform: uppercase;
    color: var(--grey);
    font-size: 14px;
    font-weight: 600;
}
.booking-dtl-info-header-time {
    font-size: 18px;
    line-height: 45px;
    color: var(--white);
}
.booking-dtl-info-single-itnry
{
    padding: 10px 10px;
    background-color: var(--white);
}
.fm-head-fromto
{
    font-size: 16px;
    color: var(--white);
}
.fm-head-fromto-date
{
    margin-left: 5px;
    color: var(--grey);
}
.fm-total-price
{
    font-size: 18px;
    color: var(--main-e-light);
    font-weight: bold;
}
.fm-modal-title-sm {
    font-size: 13px;
    text-transform: capitalize;
    color: var(--white);
    font-weight: normal;
}
.margin-t-10
{
    margin-top: 10px;
}
.margin-b-10
{
    margin-bottom: 10px;
}
.margin-t-b-10
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.padding-lr-10
{
    padding-left: 10px;
    padding-right: 10px;
}
.span-50
{
    width: 50%;
    float: left;
}
.span-40
{
    width: 40%;
    float: left;
}
.span-60
{
    width: 60%;
    float: left;
}
.fm-airline-dtl span, .fm-departure-dtl span, .fm-time-class span, .fm-arrival-dtl span
{
    display: block;
}
.fm-air-img
{
    width: 65px;
}
.fm-text-sm
{
    font-size: 12px;
    line-height: 15px;
}
.fm-text-l
{
    font-size: 13px;
    line-height: 17px;
}
.fm-heading-bar .fm-modal-title
{
    background-color: var(--lgrey);
    padding: 3px 10px;
    font-weight: lighter;
}
.fm-layover-sperator {
    background-color: var(--main-e-light);
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 0px 50px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.fm-nav-tabs .nav-item.show .nav-link, .fm-nav-tabs .nav-link.active {
    color: var(--black);
    background-color: var(--main-e-light);
    border-color: var(--grey) var(--grey) var(--white);
    text-transform: uppercase;
    font-size: 13px;
}
.fm-nav-tabs .nav-link
{
    text-transform: uppercase;
    font-size: 13px;
    color: var(--black); 
    border-color: var(--grey) var(--grey) var(--white);
}
.plus-one-option {
    position: absolute;
    left: 0%;
    top: 100%;
    color: var(--mainlight);
    background-color: var( --white);
    padding: 3px 17px;s
    box-shadow: 2px 4px 5px var(--darkgrey);
    z-index: 1;
    cursor: pointer;
    line-height: 20px;
    font-size: 13px;
    border-top: 1px solid var(--grey);
}
.minus-one-option {
    position: absolute;
    left: 0%;
    top: 100%;
    color: var(--mainlight);
    background-color: var( --white);
    padding: 3px 17px;s
    box-shadow: 2px 4px 5px var(--darkgrey);
    z-index: 1;
    cursor: pointer;
    line-height: 20px;
    font-size: 13px;
    border-top: 1px solid var(--grey);
}
.search-form-strip
{
    background-color: var(--mainlight);
    transition: all 0.6s;
}
.table-fm td,  .table-fm th
{
    font-size: 12px;
    padding: 8px;
}
.table-fm thead
{
    background-color: var(--main-e-light);
    font-size: 13px;
}

.fm-sml-text
{
    color: var(--darkgrey);
}
.popup-modals .modal-header .close {
    background-color: #fff;
    padding: 0px !important;
    margin: -1rem -1rem -1rem auto;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    bottom: 100%;
    height: 20px;
    width: 20px;
    opacity: 1;
    line-height: 6px;
    font-size: 15px;
    border:2px solid var(--black);
}


/*.............booking-page-css..........*/
.booking-dtl-info
{
    
}
.booking-dtl-info-header
{
    background-color: var(--maindark);
    padding: 10px;
    position: relative;
}
.booking-dtl-info-header span
{
    line-height: 30px;
    color: var(--grey);
    font-size: 13px;
}
.booking-dtl-show-btn
{
    font-size: 13px;
}
.booking-dtl-login-bar
{
    padding:20px 10px;
    background-color: var(--white);
    margin-bottom: 20px;
}
.booking-dtl-login-bar ul
{
    margin: 0px;
    padding: 0px;
}
.booking-dtl-login-bar ul li
{
    display: inline-block;
    padding: 0px 10px;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 32px;
}
.booking-dtl-login-bar ul li:first-child
{
    font-size: 15px;
    font-weight: 600;
}
.booking-dtl-login-bar ul li:last-child
{
    float: right;
}
.booking-dtl-login-bar ul li .fa {
    font-size: 10px;
    line-height: 20px;
    /* margin-top: 1px; */
    color: var(--main-e-light);
    /* width: 8px; */
    /* height: 5px; */
    padding: 0px;
    margin-right: 4px;
}
#Booking-dtl-tabs
{
    margin-bottom: 30px;
    text-align: center;
    border:0px;
    margin-top: 10px;
    position: relative;
}
#Booking-dtl-tabs:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 70%;
    height: 3px;
    background-color: var(--mainlight);
    z-index: -1;
}
.Booking-dtl-tab-item
{
    width: 33%;
}
.Booking-dtl-nav-link {
    display: inline-block;
    border-radius: 28px !important;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    background-color: var(--white);
    color: var(--maindark);
    text-transform: capitalize;
    border: 0px;
}
.Booking-dtl-tab-item .Booking-dtl-nav-link.active
{
    background-color: var(--maindark);
    color: var(--white);
}
.Booking-dtl-tab-item .Booking-dtl-nav-link:hover
{

}
.booking-title-add-on
{
    background-color: var(--grey);
    padding:10px 25px;
    font-size: 13px;
}
.secure-trip-p
{
    margin-top: 25px;
}
.secure-trip-p a
{
    margin: 0px 10px;
}
.secure-trip-p strong
{
    color: var(--maindark);
    margin-left: 10px;
}
.sep-plan-thin
{
    border-bottom: 1px solid;
    border-color:var(--main-e-light);
    display: block;
    margin: 20px 0px;
}
.booking-dtl-chkn-bags
{
    font-size: 13px;
}
.booking-dtl-chkn-bags  li
{
    display: inline-block;
}
.booking-dtl-chkn-bags  li:first-child
{
    width: 22%;
}
.booking-dtl-chkn-bags  li:last-child
{
    width: 76%;
}
.booking-dtl-chkn-bags  li .fa
{
    font-size: 40px;
}
.booking-dtl-chkn-bags  li span
{
    display: block;
}
.booking-dtl-chkn-bags  li span:last-child
{
    color: var(--darkgrey);
    font-size: 11px;
    font-weight: 500;
}
.booking-dtl-fmail label, .booking-dtl-coupon label
{
    display: block;
    margin-bottom: 0px;
}
.booking-dtl-fmail input, .booking-dtl-coupon input
{
    height: 30px;
    padding: 0px 5px;
    width: 100%;
}
.booking-dtl-coupon input
{
    width: 70%;
}
.booking-dtl-coupon button {
    max-height: 30px;
    line-height: 20px;
    font-size: 13px;
    color: var(--maindark) !important;
    margin-top: -3px;
    width: 28%;
}
.booking-dtl-fprice
{
    font-size:20px;
    color: var(--maindark)
    margin-left:10px;
    margin-top: 20px;
}
.booking-dtl-fprice strong
{
    margin-left: 10px;
}
.traveler-info-section
{
    margin-bottom: 30px;
}
.traveler-info-section .fm-airline-dtl .span-50:first-child {
    width: 30%;
    float: left;
}
.traveler-info-section .fm-airline-dtl .span-50:last-child {
    width: 70%;
    float: left;
}
.padding-10
{
    padding: 10px;
}
.traveler-info-section .fm-text-l
{
    font-size: 13px;
    text-transform: capitalize;
}
.traveler-info-section .fm-text-sm
{
    font-size: 11px;
    color: var(--darkgrey);
    font-weight: 500; 
}
.trvl-info-price
{
    font-size: 17px;
    color: var(--maindark);
    font-weight: bold;
}
.traveler-info-section .fm-time-class strong
{
    font-weight: normal;
}
.traveler-info-section .fm-departure-dtl .fa
{
    font-size: 8px;
}
.fm-arrival-dtl
{
}
.traveler-info-section

{
    font-size: 13px;
}
.traveler-info-section .form-control {
    min-height: 30px;
    border-radius: 0px;
    max-height: 33px;
    font-size: 13px;
    margin-bottom: 10px;
}
.traveler-info-section .panel-collapse
{
    background-color: var(--main-e-light);
    padding: 20px 30px 10px 30px;
    width: 90%;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.info-colapser
{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--maindark);
    display: block;
    margin: 8px 0px;
    text-decoration: none;
}
.info-colapser:hover
{
    color: var(--maindark);
    text-decoration: none;
}
.booking-dtl-trvlr-alrt
{
    background-color: var(--main-e-light);
    padding: 8px;
}
.booking-dtl-trvlr-title
{
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;

}
.info-colapser strong
{
    color: var(--darkgrey);
    font-weight: normal;
}
.pay-secure-price
{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.info-colapser .fa
{
    background-color: var(--grey);
    padding: 3px;
    font-size: 10px;
}
.search-result-tabs
{
    border-bottom: 0px;
}
.search-result-tabs-item
{
    margin-bottom: 0px !important;
}
.search-result-tabs-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    margin-right: 2px;
    border: 1px solid #0478BE;
    background-color: #0478BE;
    border-radius: 0px !important;
    min-width: 131px;
}
.search-result-tabs-link:hover
{
    color: var(--white);
}
    .search-result-tabs-link.active {
        border: 0px;
        border: 0px solid var(--white);
        background-color: var(--white) !important;
        border-bottom: 0px;
        color: #d63933 !important;
        border-top: 3px solid #0478BE;
        border-color: #d63933 !important;
    }
.time-shift
{
    font-size: 10px;
    background-color: var(--grey);
    margin-bottom: 8px;
}
#popup-searching .modal-header
{
    background-color: var(--darkgrey);
    text-align: center;
}
#popup-searching .modal-header .modal-title
{
    width: 100%;
}
#popup-searching .modal-header .modal-title img
{
    width: 150px;
}
/*#popup-searching  .modal
{
    display: block;
}*/
.devider-grey
{
    border-bottom:1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:var(--main-e-light)
}
.payment-info-section label
{
    margin-bottom: 0px;
}
.progress-bars {
    width: 100%;
    height: 7px;
    background: #e0e0e0;
    padding: 9px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 6px;
}

.progress-bar-fills {
    display: block;
    height: 3px;
    background: #032845;
    border-radius: 3px;
    /* transition: width 250ms ease-in-out; */
    transition: width 10s ease-in-out;
}

.hz-filter {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 40px;
}
.hz-cbox-list
{
    font-size: 12px;
    color: var(--darkgrey);
}
.hz-filter-box
{

}
.hz-fliter-title
{
    font-weight: 500;
    font-size: 13px;
    display: inline-block;
}
.border-rights
{
    border-right: 1px solid var(--maindark);
}
.btns-cls-flight
{
    display: block;
}
.btns-cls-flight .btn
{
    display: block;
    border-radius: 0px;
    margin-bottom: 10px;

}
#more-filter-Modal
{
    padding-right: 0px;
}
#more-filter-Modal .modal {
    position: fixed;
    top: 77px;
    width: 100%;
}
 #more-filter-Modal .modal-dialog{
    width: 100%;
    max-width: 100%;
    margin: 0px;
    top: 104px;
}
.hz-cbox-list label
{
    width: 100%;
}
.modal-filter-price-label
{
    float: right;
}
.reset-filter-single
{
    color: blue;
    float: right;
    font-size: 12px;
}
.border-bottom-m-40
{
   border-bottom: 1px solid var(--darkgrey);
   margin-bottom: 20px;
   padding-bottom: 20px;
}
.modal-filter-column {
    max-height: 400px;
    overflow-y: auto;
    padding: 0px 5px;
}
.modal-filter-column::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
.modal-filter-column::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.modal-filter-column::-webkit-scrollbar-thumb {
  background: #888; 
}
.modal-filter-column::-webkit-scrollbar-thumb:hover {
  background: #555; 
}















/*new-csss*/

.result-box
{
    padding: 0px;
    box-shadow: 1px 1px 5px #333;
    background-color: var(--white);
}
.result-box-top-bar
{
    padding: 10px 10px 0px 10px;
}
.airline-icon img
{
    width: 70px;
}
.airline-brand
{
    font-size: 14px;
    font-weight: bold;
}
.airline-type-list
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 10px;
}
    .airline-type-list li {
        display: inline-block;
        margin-right: 10px;
        padding: 1px 10px;
        border-radius: 25px;
        border: 1px solid #0478BE;
    }
.airline-type-list li.active
{
    background-color: var(--darkgrey);
    color: var(--white);
    border-color: var(--darkgrey);
}
.deal-title
{
    color: var(--green);
    font-size: 13px;
}
.price-and-book
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.price-and-book li
{
    display: inline-block;
}
.flight-price {
    font-size: 20px;
    font-weight: bold;
    color: #d63933;
}
.flight-book-butn {
    background-color: #0478BE;
    color: var(--white);
    padding: 5px 10px;
    float: right;
    border-radius: 3px;
}
.flight-book-butn a
{
    font-size: 18px;
    color: var(--white);
}
.result-box-deatil-bar
{
    margin-top: 15px;
    padding: 0px 10px 0px 10px;
}
.result-box-deatil-bar-box
{
    padding: 10px 7px;
    box-shadow: 0px 0px 5px var(--maindark);
    border-radius: 5px;
    margin-bottom: 15px;
}
.offer-deal-strip
{
    background-color: var(--maindark);
    margin-top: 10px;
    padding: 5px 10px 5px 1px;
    font-size: 13px;
    color: var(--white);
}
.offer-deal-strip span
{
    background-color: var(--black);
    padding: 6px 30px 6px 10px;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    color:var(--white);    
}
.offer-deal-strip span:after {
    position: absolute;
    content: '';
    border-width: 13px;
    border-color: var(--black);
    border-style: solid;
    border-right-color: var(--maindark);
    right: 0px;
    top: 0px;
}
.flight-date-destination
{
    color: var(--darkgrey);
    font-size: 12px;
    margin-bottom: 10px;
}
.result-box-deatil-bar-single
{
    margin-bottom: 15px;
}
.flight-dest-radio
{
    float: left;
    width: 100%;
}
.flight-destis
{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 500;
}
.flight-destis strong
{
    color: var(--darkgrey);
    font-weight: 500;
}
.t-time-stop
{
    color: var(--darkgrey);
    font-size: 12px;
}
.arprt-code
{
    text-transform: uppercase;
    font-size: 13px;
    color: var(--darkgrey);
}
.arrow-sign
{
    border-bottom: 1px solid var(--maindark);;
    position: relative;
    margin: 5px 0px;
}
.arrow-sign:before {
    position: absolute;
    content: '\f111';
    font-family: FontAwesome;
    top: -6px;
    left:-1%;
    font-size: 8px;
    color: var(--maindark);
    }
    .arrow-sign:after {
    position: absolute;
    content: '\f111';
    font-family: FontAwesome;
    top: -6px;
    right:-1%;
    font-size: 8px;
    color: var(--maindark);
    }
    .flight-dest-arrow
    {
        margin-top: -10px;
    }
    .mid-point:after
    {
    position: absolute;
    content: '\f111';
    font-family: FontAwesome;
    top: -6px;
    left:48%;
    font-size: 8px;
    color: var(--maindark);
    }
    .refund-bagage .fa-circle
    {
        margin-left: 10px;
        font-size: 5px;
        margin-right: 10px;

    }
    .flight-fare-btn
    {
        font-size: 15px;
        margin-left: 15px;
        color: var(--maindark);
        font-weight: 500;
        cursor: pointer;
    }
    .f-detail-box-type
    {
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .f-detail-box-type .fa
    {
        margin-right: 10px;
        font-size: 20px;
    }
    .f-detail-box-dst-strip {
    padding: 5px 10px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--maindark);
    color: var(--white);
    margin-bottom: 30px;
}
.flight-date-destination img
{
    width: 40px;
}
.f-detail-box-a-name
{
    margin-bottom: 20px;
}
.f-detail-box-time
{
    font-weight: 500;
}
.f-detail-box-dest-arrow {
    position: relative;
    padding-top: 14%;
}
.f-detail-box-time-bx {
    background-color: var(--white);
    display: inline-block;
    padding: 0px 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 72%;
    z-index: 999;
    width: 35%;
    margin: 0px auto;
}
.f-detail-box-deatil-bar-single
{
    margin-bottom: 40px;
}
.connection-time-box {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    padding: 10px;
    box-shadow: 2px 2px 6px var(--maindark);
    color: var(--darkgrey);
    margin-bottom: 20px;
    border: 1px dashed var(--maindark);
}
.baggage-alwnc
{
    border-bottom:1px solid var(--maindark);
    font-size: 13px;
    text-transform:uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 12px; 
}
.f-detail-box-baggage-pcs
{
    font-size: 12px;
}
.f-detail-box-baggage-pcs .fa
{
    color: var(--maindark);
    margin-right: 5px;
    font-size: 15px;
}
.refund-bagage strong
{
    font-weight: 500;
}
.form-fix
{
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 0.6s;
    z-index: 99999999;
}
.border-bottoms
{
    border-bottom: 1px solid var(--maindark);
}
.fare-detail-box {
    font-size: 12px;
    color: var(--darkgrey);
    padding: 10px 0px 0px 10px;
}
.fare-detail-box-totl-psngr
{
    padding-bottom: 10px;
    margin-bottom: 14px;
    font-size: 15px;
}
.fare-detail-box-base-fare
{
    margin-top: 7px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.fare-detail-box-surcharg-fare
{
    margin-top: 7px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.fare-detail-box-istant-total
{
    margin: 30px 0px;
}
.clps-btn-dtl, .clps-btn-dtl2, .clps-btn-dtl3, .clps-btn-dtl4, .clps-btn-dtl5, .clps-btn-dtl6 {    
    display: block !important;
    text-transform: uppercase;
    color: var(--blue);
    font-size: 12px;
    line-height: 19px;
}
.f-detail-box
{
    padding: 10px;
}
.f-rule-table
{
    padding: 10px 10px 0px 0px;
}
.f-rule-table .btn-link
{
    width: 100%;
}
.f-rule-table .card-header
{
    padding: 10px;
    border:1px solid var(--lightgrey);
}
.f-rule-table .card
{
    border:0px;
}
.f-rule-table .btn-link {
    padding: 0px;
    color: var(--darkgrey);
    font-size: 13px;
}
.f-rule-table .card-body
{
    padding:0px;
}
.f-rule-table .card-body table
{
    margin-bottom: 0px;
}
.f-rule-table-note
{
    margin-top: 7px;
    color:var(--darkgrey);
}

.search-top-sort-strip
{
    margin-bottom: 30px;
}

.smart-image img
{
    width:100%;
}
.search-top-sort-strip-title-section
{
    width: 100%;
    clear: both;
    overflow: hidden;
}
.smart-image
{
    width: 20%;
    margin-right: 10px;
}
.smart-title
{
    width: 77%;
    font-size: 14px;
    color: var(--darkgrey);
}
.smart-title span
{
    display: block;
    font-size: 19px;
    color: var(--black);
}
.search-top-sort-strip-dd-section ul
{
    width: 100%;
    clear: both;
    text-align: right;
}
.search-top-sort-strip-dd-section ul li
{
    display: inline-block;
}
.search-top-sort-strip-dd-section ul li:first-child
{
    float: left;
}
.cheap-strt-price
{
    color: var(--darkgrey);
    font-size: 13px;
}
    .cheap-strt-price strong {
        display: block;
        text-align: left;
        color: #d63933;
        font-size: 19px;
        text-decoration: underline;
    }
.crncy-sortby-select
{
    font-size: 11px;
    border-radius: 0px;
}
.right-sidebar {
    float: left;
    width: 100%;
    
}
.right-sidebar-box {
    box-shadow: 1px 1px 5px #333;
    padding: 20px;
    float: left;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    background-color: var(--white);
    margin-top: 20px;
}
.right-sidebar-box-title {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 2px solid #0478BE;
}
.right-sidebar-box-sign-rupe
{
    width: 50px;
}
.right-sidebar-box-sign-rupe .fa
{
    font-size: 50px;
    color: var(--maindark);
}
.right-sidebar-box-text
{
    width: calc(100% - 50px);
    font-size: 13px;
}
.use-code
{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--darkgrey);
        margin-top: 10px;
        float: left;
}
.use-code strong
{
    color: var(--blue);
    font-weight: bold;  
}
.fm-departure-dtl-code
{
    font-size: 17px;
    color: var(--darkgrey);
    font-weight: 500;
}
.fm-departure-dtl-code strong 
{
    color: var(--black);
}
.fm-departure-dtl-code span
{
    display: inline-block;
    font-size: 13px;
}
.fm-departure-dtl-place
{
    font-size: 15px;
}
.fm-departure-dtl-trmnl
{
    color: var(--darkgrey);
}
.fm-time-class-seat-bag
{
    font-size: 12px;
    color: var(--darkgrey);
}
.fm-time-class-seat-bag .fa
{
    color: var(--darkgrey);
    font-size: 11px;
}
.rule-bag-visa
{
    padding: 20px 10px;
    border-top: 2px solid var(--main-e-light);
    margin-bottom: 20px;
    background-color: var(--white);
}
.rule-bag-visa strong
{
    font-size: 13px;
}
.rule-menu li
{
    display: inline-block;
    margin-right: 30px;
}
.rule-menu li a
{
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    color: var(--blue);

}
.rule-menu li a .fa
{
        color: var(--darkgrey);
        margin-right: 8px;
        font-size: 20px;
        vertical-align: middle;
}
.modal-fare_rules .modal-dialog{
    width: 46%;
    max-width: 46%;
}
.modal-dialog .f-rule-table-note
{
    font-size: 12px;
}
.bagagge-title-pp

{
    font-size: 13px;
    display: block;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.modal-fare_rules .f-rule-table .card-header, .modal-fare_rules thead
{
    background-color: var(--main-e-light);
}
.modal-fare_rules .modal-footer p
{
    font-size: 11px;
}
.book-email-box
{
    padding: 20px 10px;
    background-color: var(--white);
}
.book-email-box-title
{
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 20px;
}
.ticket-sent
{
    font-weight: bold;

}
.agree-term-box
{
    padding: 20px 10px 0px 10px;
}
.agree-term-box a
{
    padding: 0px;
    margin: 0px;
}
.agree-term-box .secure-trip-p
{
    margin: 0px;
}
.booking-single-box
{
    padding:10px;
}
.booking-single-box .booking-dtl-fprice {
    margin-top: 0px;
    font-size: 18px;
}
.booking-single-box .booking-dtl-fprice strong {
    margin-left: 10px;
    color: var(--maindark);
}
.seprator-or {
    margin: 0px 20px;
    border: 2px solid var(--grey);
    font-size: 13px;
    text-transform: uppercase;
    padding: 7px 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.roundtrip-jrny-bar .booking-dtl-info-header
{
    background-color: var(--darkgrey);
}
.roundtrip-jrny-bar
{
    position: relative;
}
.roundtrip-jrny-bar .fa-chevron-up:before {
    content: "\f077" !important;
}
.angle-icon
{
    color: var(--white);
    font-size: 15px;
    line-height: 43px;
}
.booking-trvlr-dtl-box
{
    padding:10px;
    background-color: var(--white);
    margin-top: 10px;
    color: var(--black);
}
.border-bottom-1
{
    border-bottom: 1px solid var(--main-e-light);
}
.booking-trvlr-dtl-title {
    font-size: 14px;
    color: var(--black);
    padding-bottom: 0px;
    line-height: 42px;
}
.booking-trvlr-srvc-title
{
    font-size: 16px;
    color: var(--white);
    padding-bottom: 0px;
    line-height: 42px;
}
.travel-service-box-expnd
{
    background-color: var(--white);
    padding: 10px;
    position: relative;
}
.travel-service-box-expnd-title {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    line-height: 28px;
}
.travel-service-box-expnd .ccontainer {
    line-height: 27px;
    margin-right: 40px;
}
.travel-service-box-expnd .ccheckmark {
    top: 4px;
}
.booking-trvlr-dtl-label
{
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 0px;
}
.booking-trvlr-dtl-box .form-control {
    margin-bottom: 15px;
    height: 37px;
    background-color: #f8f8f8;
}
.book-payment-box
{
    padding: 0px 15px;
    background-color: var(--white);
}
#payment-summary .traveler-info-section {
    margin-bottom: 10px;
}

/*Index changes from Developer*/
.one-multi
{
    display:none;
}
.roundtrip
{
    display:block;
}
.fm-departure-dtl label
{
    margin:0px;
}
.view-Details {
    text-align: center;
    padding: 20px 10px;
    vertical-align: middle;
}

.view-Details a {
    color:blue;
    }
.modal-flight_details .modal-dialog {
    min-width: 80%;
}
.poplinediv {
    margin: 20px 0px;
}
.popabovediv {
    border-bottom: 1px dotted #ccc;
    position: relative;
    top: 20px;
}
.poplinealign {
    padding: 10px 20px;
    position: relative;
    background-color: #fff;
    left: 345px;
    border: 1px solid #ccc;
}
.fare_Title {
    font-weight: 600;
    font-size: 16px;
    color: #d63933;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}
.base_detail_title {
    font-weight: 600;
    font-size: 14px;
    color: #d63933;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}
.base_detail .left div {
    padding: 5px 0px;
}
.base_detail .right div {
    padding: 5px 0px;
}
.policywrite
{
    font-size:11px;
    margin-bottom:10px;
}
.fare-tables {
    
}
.faretab-head {
    padding: 0px 10px;
    background-color: #0478BE;
    border-right: 1px solid #ccc;
}

.faretab-body {
    padding: 0px 10px;
    font-weight:normal;
}
    
.fare-tab-model {
    border: 1px solid #ccc;
    margin: 10px 0px;
}
.fnt-strong
{
    font-weight:600;
}
.trip-baggage-details {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
    .trip-baggage-details td {
        padding: 5px 5px;
    }
.tab-side-title {
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    color: #0478BE;
}
.colorcode-red {
    color: #d63933 !important;
}
.pAccordian {
    font-size: 25px;
}
.right-sidebar-activescroll {
    position: fixed;
    max-width: 310px;
    animation-duration: 4s;
}
.right-sidebar-activebottom {
    position: fixed;
    max-width: 310px;
    bottom: 200px;
    animation-duration: 4s;
}